<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>

        <parameter key="sonatra_security.acl.rule_extension.class">Sonatra\Component\Security\Acl\DependencyInjection\RuleExtension</parameter>
        <parameter key="sonatra_security.acl.object_filter_extension.class">Sonatra\Component\Security\Acl\DependencyInjection\ObjectFilterExtension</parameter>
        <parameter key="sonatra_security.acl.rule_manager.class">Sonatra\Component\Security\Acl\Domain\AclRuleManager</parameter>
        <parameter key="sonatra_security.acl.manipulator.class">Sonatra\Component\Security\Acl\Domain\AclManipulator</parameter>
        <parameter key="sonatra_security.acl.manager.class">Sonatra\Component\Security\Acl\Domain\AclManager</parameter>
        <parameter key="sonatra_security.acl.object_filter.class">Sonatra\Component\Security\Acl\Domain\AclObjectFilter</parameter>
        <parameter key="sonatra_security.acl.voter.class">Sonatra\Component\Security\Core\Authorization\Voter\AclVoter</parameter>
        <parameter key="sonatra_security.acl.disable.listener.class">Sonatra\Component\Security\Listener\DisableAclListener</parameter>
        <parameter key="sonatra_security.acl_exception.class">Sonatra\Component\Security\Listener\AclExceptionListener</parameter>

    </parameters>

    <services>

        <!-- Override standard object identity retrieval strategy -->
        <service id="security.acl.object_identity_retrieval_strategy" class="Sonatra\Component\Security\Acl\Domain\ObjectIdentityRetrievalStrategy" public="false" />

        <!-- Override acl provider -->
        <service id="security.acl.dbal.provider" class="Sonatra\Component\Security\Acl\Dbal\MutableAclProvider" public="false">
            <argument type="service" id="security.acl.dbal.connection" />
            <argument type="service" id="security.acl.permission_granting_strategy" />
            <argument type="collection">
                <argument key="class_table_name">%security.acl.dbal.class_table_name%</argument>
                <argument key="entry_table_name">%security.acl.dbal.entry_table_name%</argument>
                <argument key="oid_table_name">%security.acl.dbal.oid_table_name%</argument>
                <argument key="oid_ancestors_table_name">%security.acl.dbal.oid_ancestors_table_name%</argument>
                <argument key="sid_table_name">%security.acl.dbal.sid_table_name%</argument>
            </argument>
            <argument type="service" id="security.acl.cache" on-invalid="null" />
        </service>

        <!-- Rule Extension -->
        <service id="sonatra_security.acl.rule_extension"
                 class="%sonatra_security.acl.rule_extension.class%"
                 public="false">
            <argument type="collection"/>
            <argument type="collection"/>
            <property name="container" type="service" id="service_container"/>
        </service>

        <!-- Object Filter Extension -->
        <service id="sonatra_security.acl.object_filter_extension"
                 class="%sonatra_security.acl.object_filter_extension.class%"
                 public="false">
            <argument type="collection"/>
            <property name="container" type="service" id="service_container"/>
        </service>

        <!-- Rule Manager -->
        <service id="sonatra_security.acl.rule_manager"
                 class="%sonatra_security.acl.rule_manager.class%">
            <argument type="service" id="property_accessor"/>
            <argument type="service" id="sonatra_security.acl.rule_extension"/>
            <argument>%sonatra_security.acl_default_rule%</argument>
            <argument>%sonatra_security.acl_disabled_rule%</argument>
            <argument>%sonatra_security.acl_rules%</argument>
        </service>

        <!-- ACL Manipulator -->
        <service id="sonatra_security.acl.manipulator"
                 class="%sonatra_security.acl.manipulator.class%">
            <argument type="service" id="security.acl.provider"/>
            <argument type="service" id="security.acl.security_identity_retrieval_strategy"/>
            <argument type="service" id="security.acl.object_identity_retrieval_strategy"/>
            <argument type="service" id="event_dispatcher"/>
        </service>

        <!-- ACL Manager -->
        <service id="sonatra_security.acl.manager"
                 class="%sonatra_security.acl.manager.class%">
            <argument type="service" id="security.acl.provider"/>
            <argument type="service" id="security.acl.security_identity_retrieval_strategy"/>
            <argument type="service" id="security.acl.object_identity_retrieval_strategy"/>
            <argument type="service" id="sonatra_security.acl.rule_manager"/>
        </service>

        <!-- ACL Object Filter -->
        <service id="sonatra_security.acl.object_filter"
                 class="%sonatra_security.acl.object_filter.class%">
            <argument type="service" id="sonatra_security.acl.object_filter_extension"/>
            <argument type="service" id="sonatra_security.acl.manager"/>
            <argument type="service" id="security.authorization_checker"/>
            <argument type="service" id="event_dispatcher"/>
        </service>

        <!-- Voter -->
        <service id="security.access.acl_voter"
                 class="%sonatra_security.acl.voter.class%"
                 public="false">
            <argument type="service" id="sonatra_security.acl.manager"/>
            <argument type="service" id="security.acl.security_identity_retrieval_strategy"/>
            <tag name="security.voter" priority="260"/>
        </service>

        <!-- Disable ACL Listener -->
        <service id="sonatra_security.acl.disable.listener"
                 class="%sonatra_security.acl.disable.listener.class%">
            <argument type="service" id="sonatra_security.acl.manager"/>
            <tag name="kernel.event_subscriber"/>
        </service>

        <service id="sonatra_security.acl_exception.listener"
                 class="%sonatra_security.acl_exception.class%">
            <tag name="kernel.event_listener" event="kernel.exception" method="onKernelException"/>
        </service>

        <!-- Acl Object Filter Voter -->
        <service id="sonatra_security.acl.object_filter_voter.mixed"
                 class="Sonatra\Component\Security\Acl\ObjectFilter\MixedValue">
            <tag name="sonatra_security.acl.object_filter_voter" priority="-255"/>
        </service>

    </services>

</container>
